<form>
    <section class="order-section">
        <label for="trip-date">Trip date: </label>
        <input type="date" name="trip-date" placeholder="Enter trip date">
    <section class="order-section">
        <label for="city">City </label> 
        <select name="city">
            <option value="chicago">Chicago</option>
            <option value="indianapolis">Indianapolis</option>
            <option value="cincinnati">Cincinnati</option>
            <option value="Nashville">Nashville</option>
        </select>
    </section>

        <label>Miles</label>
        <label>Gallons</label>
        <button>Submit</button>
    </section>
</form>