<form class="order-section">

    <label for="trip-date">Trip date: </label>
    <input type="date" name="trip-date" placeholder="Enter trip date">
    <label for="city">City</label>
    <select name="city">
        <option value="chicago">Chicago</option>
        <option value="indianapolis">Indianapolis</option>
        <option value="cincinnati">Cincinnati</option>
        <option value="nashville">Nashville</option>
    </select>
    <label>Miles traveled</label><input type="number">
    <label>Gallons</label><input type="number">
    <button class="btn btn-success">Submit</button>

</form>