<form class="order-section" method="POST">

    <label for="date">Trip date: </label>
    <p>{{trips.date}}</p>
    <label for="city">City</label>
    <select name="city" type="text" required>
        <option value="Chicago">Chicago</option>
        <option value="Indianapolis">Indianapolis</option>
        <option value="Cincinnati">Cincinnati</option>
        <option value="Nashville">Nashville</option>
    </select>
    <label for="miles">Miles traveled</label><input type="number" name="miles" min="0" value={{trips.miles}} required>
    <label for"gallons">Gallons</label><input type="number" name="gallons" min="0" value={{trips.gallons}} required>
    <button type="submit" class="btn btn-success">Submit</button>

</form>